.navBar {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar h2 {
    font-size: 18px;
    margin: 0;
}

.navBar a {
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

.navBar a:hover {
    border-bottom: 1px solid black;
} 

.dataUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataUser a {
    padding: 3px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: .3s;
}

.dataUser a:hover {
    border-bottom: none;
    transform: scale(.95);
}

.navBar ul {
    align-items: center;
}

.navBar button {
    padding: 3px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: .3s;
    border: none;
}

.navBar button:hover {
    transform: scale(.95);
}

.navBar .loginComponent {
    padding: 4px 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin: 0 10px;
    transition: .3s;
}

.Contenedor {
    transition: .3s;
}

.Contenedor:hover {
    transform: scale(.95);
}

.navBar .registerComponent {
    padding: 4px 20px;
    border: 1px solid black;
    color: black;
    border-radius: 30px;
    margin: 0 10px;
    transition: .3s;
}

.navBar .loginComponent:hover {
    border-bottom: none;
}

.navBar .registerComponent:hover {
    border-bottom: 1px solid black;
}